# Ignore data folder
data/

# Virtual environments
venv/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE-specific folders
.vscode/
.idea/

# Docker-specific files
docker-compose.override.yml
.dockerignore
